*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    transition: background-color 2s ease-in-out; 
    background-color: aquamarine;
}

.container
{
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height:  70vh;
}

h1
{
    font-size: 3rem;
    color: white;
    margin-bottom: 10px;
}

.ChildContainer p
{
    font-size: 4rem;
    color: white;
    margin-bottom: 20px;
}

.ChildContainer
{
    margin: 0 10px;
    padding: 20px;
    border-radius: 5%;
    background-color: rgba(5, 15, 58, 0.89);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.actions
{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

button
{
    cursor: pointer;
    font-weight: bold;
    border: 0;
    padding: 7px;
    border-radius: 10%;
    width: 90px;
}

.imagem
{

    z-index: -1;
    position: relative;
    top: 0;
}

.imagem img 
{
    width: 18rem;
}

/*
footer 
{
    
    bottom: 0;
    position: fixed;

    width: 100vw;
}

footer p
{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.8rem;
    margin-right: 20px;
    font-weight: bolder;
}
*/

footer a 
{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bolder;
}

@media (max-height: 925px) {
    .imagem
    {
        display: none;
    }

    .container
    {
        height:  100vh;
    }
    .ChildContainer
    {
     max-width: 85vw;
    }
    button 
    {
        width: 70px;
    }
  }